nav
    .mobile-icon
        i.fas.fa-bars.bar
    ul.navigation.active
        li.nav-line
            a.white-anchor(href='#link') FOOD DELIVERY
        li.nav-line
            a.white-anchor(href=`${req.protocol}//${req.get("host")}/plans`) PLAN
        li.nav-line
            a.white-anchor(href='#link') HOW IT WORKS
        li.nav-line
            if user
                a.white-anchor(href=`${req.protocol}//${req.get("host")}/userpage`) #{user.username}
            else
                a.white-anchor(href=`${req.protocol}//${req.get("host")}/login`) SIGNIN
        li.nav-line
            if user
                a.white-anchor(href=`${req.protocol}//${req.get("host")}/logout`) LOGOUT